<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="theme-color" content="#252e38">
        <meta name="description" content="Kelou.fr est un blog qui traite d'informatique, de développement web, programmation et développement personnel.">
        <meta name="author" content="CASTEL Clément"/>
        <meta name="copyright" content="CASTEL Clément - Kelou.fr"/>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
        <link rel="icon" href="{{ asset('images/favicons/favicon.ico') }}">

        {% block open_graph %}
            <meta property="og:title" content="Kelou.fr" />
            <meta property="og:type" content="article" />
            <meta property="og:url" content="https://kelou.fr/" />
            <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('images/favicons/favicon-original.png') }}" />
            <meta property="og:description" content="Kelou.fr est un blog qui traite d'informatique, de développement web, programmation et développement personnel." />
        {% endblock %}

        <meta property="og:locale" content="fr_FR" />
        <meta property="og:site_name" content="Kelou.fr" />

        <title>{% block title %}Home{% endblock %}{% block title_suffix %} - Kelou.fr{% endblock %}</title>
        
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P8WHSKV');</script>
        <!-- End Google Tag Manager -->

        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}


    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8WHSKV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        
        {% block header %}
            {{ include('blocks/_header.html.twig') }}
        {% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            {{ include('blocks/_footer.html.twig') }}
        {% endblock %}

        <script src="{{ asset('assets/lazysizes.min.js') }}" async></script>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>