<div class="footer">
    <div class="made-with">
        <p>Made with <span style="color: red;font-size: 1.2em;">❤</span> by Clément CASTEL.</p>
    </div>
    <div class="main-footer">
        <div class="col">
            <div class="blog-title">Kelou.fr</div>
            <div class="blog-copyright">© 2016 - 2020</div>
        </div>
        <div class="col">
            <ul class="col-list">
                <li class="col-entry col-entry-primary"><a href="{{ path('contact') }}">Me contacter</a></li>
                <li class="col-entry col-entry-primary"><a href="#">À propos du site</a></li>
                <li class="col-entry col-entry-primary"><a href="{{ path('archive') }}">Archives</a></li>
                <li class="col-entry"><a href="#">Politiques de confidentialité</a></li>
            </ul>
        </div>
        <div class="col">
            <ul class="col-list">
                <li class="col-entry"><a href="#">Catégories</a></li>
                <li class="col-entry"><a href="#">Tags</a></li>
                <li class="col-entry"><a href="{{ path('sitemap') }}">Sitemap</a></li>
                <li class="col-entry"><a href="{{ path('veille.index') }}">Veille</a></li>
            </ul>
        </div>
    </div>
</div>