<div class="post-newsletter">
    <div class="section-title"><h2>Aller plus loin</h2></div>
    <div class="section-content">
        <p>Je ne publie pas tous les articles en public sur le blog. Je réserve les meilleurs aux abonnés de ma newsletter.</p>
        <p>Si vous souhaitez en faire partie, remplissez le formulaire ci-dessous.<br/><b>Je vous propose de vous envoyer la newsletter les quatres prochaines semaines. Ensuite, vous aurez le choix entre vous réinscrire pour devenir un membre permanent ou ne pas continuer.</b></p>
        <div class="form-group">
            {{ form_start(form) }}
                <label style="height:0;width:0;color:#2d3743;margin-bottom:-2px;" for="newsletter_register_form_name">Prénom</label>
                {{ form_widget(form.name) }}
                <label style="height:0;width:0;color:#2d3743;margin-bottom:-2px;" for="newsletter_register_form_email">Prénom</label>
                {{ form_widget(form.email) }}
                <button type="submit" class="btn">Recevoir les 4 prochaines newsletters</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>