{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
    <div class="pagination">
        {% if previous is defined %}
            <span class="previous">
                <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}#posts">
                    <
                </a>
            </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}#posts">{{ page }}</a>
                </span>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <span class="next">
                <a href="{{ path(route, query|merge({(pageParameterName): next})) }}#posts">></a>
            </span>
        {% endif %}
    </div>
{% endif %}
