.container-404 {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .section-404 {
    text-align: center;

    h1 {
      font-size: 96px;
    }

    p {
      font-size: 24px;
      font-family: "Comfortaa", cursive;
      color: #eee;

      a {
        text-decoration: underline;
      }
    }
  }
}
