.archive-section {
  max-width: 1100px;

  @media (max-width: 1150px) {
    max-width: calc(100% - 50px);
  }

  margin: 48px auto 96px auto;

  .archive-title {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;

    h1 {
      font-size: 40px;
      text-align: center;
      padding: 32px;
    }
  }

  .archive-list {
    margin-top: 64px;

    .year-date {
      font-size: 32px;
      margin-bottom: 32px;
      color: #eee;
      font-family: "Comfortaa", cursive;

      &:not(:first-child) {
        margin-top: 80px;
      }
    }

    ul {
      li {
        margin-bottom: 16px;

        h2 {
          font-size: 24px;
          padding: 16px;
          background-color: #eee;
          color: black;

          .post-date {
            color: #888;
          }
        }
      }
    }
  }
}
