.contact-section {
  max-width: 1100px;

  @media (max-width: 1150px) {
    max-width: calc(100% - 50px);
  }

  margin: 48px auto 96px auto;

  .contact-title {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;

    h1 {
      text-align: center;
      padding: 32px;
    }
  }

  .form-group {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;
    margin-top: 48px;

    .flash-message {
      margin-left: 36px;
      margin-top: 18px;
      color: black;
      padding: 1em;
      border-radius: 8px;
      width: fit-content;
      display: inline-block;
    }

    .flash-valid {
      background-color: #2eca2e;
    }

    form {
      .inputs-row {
        margin: 36px 36px 0 36px;
        display: flex;

        @media (max-width: 650px) {
          flex-direction: column;
        }
      }

      input {
        width: calc(50% - 18px); // one line
        &:last-of-type { // one line
          float: right;
          margin-left: 36px;
        }

        @media (max-width: 650px) { // two lines
          width: 100%;

          &:last-of-type {
            float: unset;
            margin-left: unset;
          }
        }

        background-color: #eee;
        color: black;

        &::placeholder {
          color: #777;
        }
      }

      textarea {
        margin: 36px 36px 0 36px;
        padding: 0.6em;
        background-color: #fff;
        font-size: 19px;
        color: black;
        line-height: 1.25em;
        min-height: 10em;

        &::placeholder {
          color: #777;
          text-align: left;
        }
      }

      button.btn {
        margin-top: 36px;
        margin-left: auto;
        margin-bottom: 24px;
        margin-right: 36px;
        border-radius: 0;
        padding: 0.5em 1.5em;
        width: fit-content;
      }
    }
  }
}
