.footer {
  & > * {
    background-color: #2d3237;
  }

  .made-with {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
  }

  .main-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media (max-width: 950px) {
      flex-direction: column;
      padding-left: 36px;
      padding-bottom: 36px;
    }

    .col {
      display: flex;
      flex-direction: column;

      & > * {
        margin-bottom: 16px;
      }

      .blog-title {
        margin-top: 24px;
        font-size: 40px;
        font-weight: bold;
        font-family: "Comfortaa", cursive;
        color: $title-color;
      }

      .blog-copyright {
        font-size: 24px;
        font-family: "Comfortaa", cursive;
        color: #888;
      }

      .col-list {
        .col-entry {
          font-size: 24px;
          font-family: "Comfortaa", cursive;
          color: #eee;
          line-height: 48px;

          @media (max-width: 600px) {
            font-size: 21.5px;
          }

          &-primary {
            color: $title-color;
          }
        }
      }
    }
  }
}
