.header {
  width: 100%;
  height: 150px;

  .header-container {
    height: 100%;
    position: relative;
    margin: 0 170px;

    @media (max-width: 1350px) {
      margin: 0 10%;
    }

    @media (max-width: 650px) {
      margin: 0 5%;
    }

    display: flex;
    justify-content: space-between;

    @media (max-width: 550px) {
      justify-content: center; // when there is only the logo left
    }

    align-items: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 100%;
      background-color: #52565a;
      height: 5px;
      border-radius: 5px;
    }

    ul.menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li.menu-entry {
        color: $text-color;
        font-family: "Comfortaa", cursive;
        font-size: 20px;
        margin: 0 0.5em;
        margin-top: 10px;
        letter-spacing: 0;

        a {
          display: flex;
        }

        @media (max-width: 1350px) {
          display: none;
        }

        .icon {
          margin-right: 4px;
          margin-top: -10px;
          font-size: 1.4em;
        }

        transition: 0.3s all;

        &:hover {
          transform: translateY(-4px);

          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $title-color;
          }
        }
      }

      li.menu-newsletter {
        background-color: $title-color;
        color: black;
        font-size: 28px;
        padding: 15px 40px 15px 30px;
        margin-top: -5px;

        @media (max-width: 1350px) {
          display: flex;
        }

        @media (max-width: 550px) {
          display: none;
        }

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 20px 20px rgba(35, 35, 35, 0.7);

          &::after {
            content: unset;
          }
        }
      }
    }
  }
}
