.introduction {
  margin: 0 10%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0 auto 0.5em auto;
    color: white;
    font-weight: bold;
  }

  .content {
    color: white;
    font-family: "Comfortaa", cursive;
    text-align: center;
    font-size: 19px;

    .color-primary {
      color: $title-color;
    }
  }
}

.flashes {
  margin: 64px auto 0 auto;
  width: fit-content;

  .flash-message {
    margin-left: 36px;
    margin-top: 18px;
    color: black;
    padding: 1em;
    border-radius: 8px;
    width: fit-content;
    display: inline-block;
    line-height: 1.5em;
    text-align: center;
  }

  .flash-valid {
    background-color: #2eca2e;
  }
}

.main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 1400px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}
