.post {
  background-color: $darkless-bg;
  display: flex;
  flex-direction: row;

  @media (max-width: 950px) {
    flex-direction: column;
    align-items: center;
    margin: 25px;
    margin-bottom: 36px;
  }

  @media (max-width: 550px) {
    margin: 0;
    margin-bottom: 36px;
  }

  margin-bottom: 36px;

  .post-img {
    height: 200px;
    width: 200px;
    margin: 20px;

    @media (max-width: 950px) {
      width: 100%;
      height: auto;
      overflow: hidden;
      margin: 0;
    }

    img {
      min-width: 200px;

      @media (max-width: 950px) {
        width: 50%;
        transform: scale(2) translateX(25%);
        min-width: unset;
      }
    }
  }

  .post-infos {
    position: relative;
    margin: 20px;

    h2.post-title {
      font-size: 26px;
      color: #eee;

      @media (max-width: 450px) {
        font-size: 24px;
        line-height: 1.15em;
      }

      span.post-date {
        font-size: 24px;
        color: #999;
      }
    }

    p.post-abstract {
      margin-top: 16px;
      color: #eee;

      @media (max-width: 950px) {
        padding-bottom: 48px; // for "READ MORE" button
      }

      @media (max-width: 450px) {
        display: none;
      }
    }

    .post-read-more {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;

      @media (max-width: 450px) {
        display: none;
      }

      button {
        background-color: $title-color;
        color: black;
        letter-spacing: 0.04em;
        padding: 0.5em 1.5em;
      }
    }
  }

  transition: 0.3s background;

  &:hover {
    position: relative;
    background-clip: padding-box;
    box-shadow: none;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -4px;
      border-radius: inherit;
      background: linear-gradient(to right, red, orange);
    }
  }
}
