.latests {
  max-width: 900px;
  margin-top: 8px;

  @media (max-width: 1400px) {
    padding-bottom: 24px;
    border-bottom: 2px solid $title-color;
    margin-bottom: 36px;
  }

  @media (max-width: 950px) {
    max-width: calc(100% - 50px);
  }

  .latests-title {
    font-family: "Comfortaa", cursive;
    font-size: 32px;
    letter-spacing: 0.025em;
    color: $title-color;
  }

  .month-section {
    .month-title {
      font-family: "Comfortaa", cursive;
      font-size: 26px;
      letter-spacing: 0.025em;
      color: #eee;
      margin: 24px 0 16px 0;
    }

    @import "inline-post";

    .pagination {
      color: #ddd;
      margin-bottom: 64px;
      font-size: 19px;
      width: fit-content;
      background-color: $darkless-bg;
      padding: 1em;
      border-radius: 8px;

      @media (max-width: 1400px) {
        margin-left: auto;
        margin-right: auto;
      }

      & > * {
        padding: 0 0.5em;
      }

      .previous,
      .next {
        font-weight: bold;
      }

      .page {
        color: #eee;

        &:hover a {
          transform: scale(1.2);
        }
      }

      .current {
        color: $title-color;
      }
    }
  }
}
