.post-newsletter {
  background-color: #eee;
  color: black;
  max-width: 1300px;

  @media (max-width: 1350px) {
    max-width: calc(100% - 50px);
  }

  margin: 96px auto 96px auto;
  padding-bottom: 16px;

  .section-title {
    position: relative;

    h2 {
      position: relative;
      margin-top: -20px;
      font-size: 28px;
      line-height: 75px;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 5%;
        height: 2px;
        width: 90%;
        border-radius: 5px;
        background-color: #52565a;
      }
    }
  }

  .section-content {
    width: 80%;
    margin: 24px auto 24px auto;

    p {
      font-size: 18px;
      letter-spacing: 0.04em;
      margin-bottom: 24px;

      @media (max-width: 600px) {
        font-size: 16.5px;
      }

      b {
        font-weight: bold;
      }
    }

    .form-group {
      form {
        input {
          border-radius: 0;
          background-color: white;
          color: black;
          margin-bottom: 8px;

          &::placeholder {
            color: #555;
          }
        }

        button {
          border-radius: 0;
          box-shadow: unset;
        }
      }
    }
  }
}
