.post-main {
  max-width: 1100px;

  @media (max-width: 1150px) {
    max-width: calc(100% - 50px);
  }

  margin: 48px auto 0 auto;

  .flashes {
    margin: 0 auto 36px;
  }

  .post-title {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;

    h1 {
      padding: 50px;

      @media (max-width: 850px) {
        font-size: 36px;
        padding: 16px;
      }

      @media (max-width: 550px) {
        text-align: left;
      }

      @media (max-width: 450px) {
        font-size: 28px;
      }

      text-align: center;
      line-height: 1.25em;

      span.post-date {
        color: #929292;
        font-size: 24px;

        @media (max-width: 450px) {
          font-size: 18px;
        }
      }
    }
  }

  .post-content {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;
    color: #ddd;
    text-align: justify;
    margin-top: 48px;
  }

  .veille-post-content {
    margin-bottom: 48px;
  }

  .post-tags {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 950px) {
      flex-direction: column;
    }

    padding: 25px;
    padding-top: 0;

    .post-tag {
      background-color: $title-color;
      color: black;
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 22px;
      }

      padding: 0.5em 1em 0.5em 1em;
      margin-right: 1em;
      margin-top: 1em;

      @media (max-width: 950px) {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }

      @media (max-width: 950px) { // when cat/tags are displayed in column
        margin-right: 0;
      }

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .post-category {
      background-color: #fd5a0c;
    }
  }

  .post-comment {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;
    margin-top: 48px;

    button {
      margin: 25px;
      padding: 0.5em;
      color: $title-color;
      font-size: 20px;
    }
  }
}

.md-output {
  padding: 32px;

  @media (max-width: 450px) {
    padding: 24px;
  }

  h1 {
    margin-top: .5em;
    margin-bottom: .25em;
  }

  h2,
  h3 {
    font-weight: bold;
    color: #eee;
    line-height: 1.25em;
  }

  h2:not(:first-child) {
    margin: 2em 0 0.5em 0;
  }

  h3 {
    margin: 0.5em 0 0.5em 0;
    color: $title-color;
    font-size: 26px;
  }

  p {
    font-size: 18px;
    padding-top: 8px;
    margin-bottom: 24px;
    letter-spacing: 0.3px;

    @media (max-width: 600px) {
      font-size: 16.5px;
    }
  }

  img {
    display: block;
    margin: 1em auto 1em auto;
  }

  pre,
  code {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $dark-bg;
    border-radius: 8px;
    color: #eee;
    font-family: "JetBrains Mono", sans-serif;
    line-height: 24px;
  }

  pre {
    padding: 8px;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
    color: $title-color;
  }

  ol,
  ul {
    padding-left: 64px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
    margin-bottom: 2.5em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: square;
  }

  li {
    font-size: 18px;

    @media (max-width: 600px) {
      font-size: 16.5px;
    }

    letter-spacing: 0.04em;
    color: #eee;
    margin: 8px 0 8px 0;
    line-height: 1.5em;
  }

  a {
    color: #42949f;
    text-decoration: underline;
    line-break: anywhere;
  }

  table {
    border-width: 1px 0 0 1px;
    border-color: #bbb;
    border-style: solid;
    color: #ddd;
  }

  th {
    padding: 10px;
  }

  td,
  th {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #bbb;
    padding: 0.9em;
  }

  thead {
    background-color: #242c35;
  }

  blockquote {
    border-left: 3px solid #777;
    color: #777;
    margin: 20px 0;
    padding: 0 0 0 10px;

    & p {
      color: #888 !important;
    }
  }

  hr {
    border-top: 1px solid #8c8b8b;
  }
}
