.sidebar {
  max-width: 430px;

  @media (max-width: 1400px) {
    max-width: 900px;
  }

  @media (max-width: 950px) {
    max-width: calc(100% - 50px);
  }

  @media (max-width: 450px) {
    max-width: calc(100% - 5px);
  }

  & > * {
    background-color: $darkless-bg;
    padding: 25px;
    margin: 10px;
    margin-bottom: 60px;
  }

  .sidebar-title {
    position: relative;
    margin-top: -20px;
    color: #eee;
    font-family: "Comfortaa", cursive;
    font-size: 28px;
    line-height: 75px;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      border-radius: 5px;
      background-color: #eee;
    }
  }

  .about-sidebar {
    .abstract {
      margin-top: 36px;
      display: flex;

      @media (max-width: 450px) {
        flex-direction: column;
        align-items: center;
      }

      img {
        height: 125px;
        width: 125px;
        border-radius: 5px;

        @media (max-width: 1350px) {
          height: 175px;
          width: 175px;
        }

        @media (max-width: 950px) {
          height: 125px;
          width: 125px;
        }

        @media (max-width: 450px) {
          height: 175px;
          width: 175px;
        }
      }

      .infos {
        margin: 15px 0 15px 15px;

        @media (max-width: 1350px) {
          margin: 15px 0 15px 30px;
        }

        @media (max-width: 450px) {
          margin: 30px 0 0 0;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #eee;

        h3 {
          font-size: 23px;
        }

        b {
          color: $title-color;
        }
      }
    }

    p.about-text {
      margin-top: 24px;
      margin-bottom: 6px;
      color: #eee;
      text-align: justify;
    }
  }

  .newsletter-sidebar {
    position: relative;
    background-clip: padding-box;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -4px;
      border-radius: inherit;
      background: linear-gradient(to right, red, orange);
    }

    .newsletter-text {
      margin-top: 36px;
      color: #eee;
      text-align: justify;
    }

    .form-group {
      margin-top: 20px;
    }
  }

  .categories-sidebar {
    ul.categories-list {
      margin-top: 18px;
      display: flex;
      flex-direction: column;

      li.category-entry {
        background-color: #eee;

        &-primary {
          background-color: $title-color;
        }

        color: black;
        font-size: 18px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.025em;
        margin: 8px 0;
        transition: 0.3s all;

        &:hover {
          background-color: #bbb;
        }

        &-primary:hover {
          background-color: #ca9a10;
        }
      }
    }
  }
}
