.sitemap-section {
  max-width: calc(100% - 200px);

  @media (max-width: 1150px) {
    max-width: calc(100% - 50px);
  }

  margin: 0 auto 96px auto;

  h2 {
    margin-top: 96px;
    font-size: 40px;
    color: $title-color;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    line-height: 48px;
    color: #eee;
    text-decoration: underline;
  }
}
