.tag-section {
  max-width: 1100px;

  @media (max-width: 1150px) {
    max-width: calc(100% - 50px);
  }

  margin: 48px auto 96px auto;

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 64px;
  }

  .section-list {
    @import "inline-post";
  }
}
