/**
    COLORS
*/
$dark-bg: #252e38;
$darkless-bg: #2d3743;

$title-color: #f3b708;
$text-color: #fff;

$primary-gradient: linear-gradient(114.41deg, #ffc000 0%, #f01262 100%);

body {
  background-color: $dark-bg;
}

/**
    TYPOGRAPHY
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive;
  letter-spacing: 0.025em;
}

p,
button,
div,
li {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.025em;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: $title-color;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.5;
}

b {
  color: $title-color;
}

.btn {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  }
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  }
}

/**
    SHADOWS
*/
.small-shadow {
  box-shadow: 10px 10px 0 #191e24;
}

.big-shadow {
  box-shadow: 20px 20px 0 #191e24;
}

/**
    FORMS
*/

form {
  display: flex;
  flex-direction: column;

  input,
  textarea,
  select {
    background-color: #252e38;
    color: #ddd;
    border-radius: 8px;
    border: 1px transparent;
    font-size: 20px;
    line-height: 28px;
    padding: 0.4em 0.8em;
    margin: 0.2em 0;

    &:hover,
    &:focus {
      border: 1px white;
    }

    &::placeholder {
      color: #666;
      text-align: center;
    }
  }

  button[type=submit] {
    background-color: $title-color;
    border-radius: 8px;
    border: 1px transparent;
    font-size: 20px;
    line-height: 28px;
    padding: 0.4em 0.8em;
    margin: 0.2em 0;
  }
}
