@import "choices.js/styles/choices.scss";

.create-post-section {
  margin: 32px;

  h1 {
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;
    text-align: center;
    padding: 32px;
  }

  .form-group {
    margin-top: 64px;
    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;

    form {
      padding: 32px;
      padding-right: 0;

      .row {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        margin-top: 16px;

        .col {
          flex: 1;
          margin-right: 32px;
        }
      }

      input,
      label { // to have label above input
        display: block;
      }

      input[disabled] {
        background-color: #3f4a56;
      }

      label {
        font-size: 16px;
        font-family: "Comfortaa", cursive;
        letter-spacing: 0.04em;
        color: #aaa;
        margin-bottom: 8px;
      }

      input,
      textarea,
      p,
      select {
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.04em;
        line-height: 1.5em;
        color: #ddd;
      }

      textarea {
        margin-bottom: 64px;
        font-family: "JetBrains Mono", sans-serif;
      }

      p.p-info {
        margin-bottom: 64px;
        font-size: 18px;
        color: #aaa;
      }

      /** CUSTOM FIELD */

      .col-title {
        margin-bottom: 48px;

        input {
          font-size: 20px;
        }
      }

      .col-fm {
        text-decoration: underline;
        text-align: center;
        font-size: 20px;
        font-family: "Comfortaa", cursive;
        color: #42949f;
        margin-top: 32px;
      }

      .col-islive {
        input[type=checkbox] {
          height: 1.2em;
          width: 1.2em;
          margin-top: 1em;
          margin-left: 1em;
        }
      }

      #intro-cc {
        font-size: 20px;
        color: #eee;
      }

      #editor-content {
        border-radius: 0;
      }

      .col-live {
        max-width: 45vw;

        label {
          display: inline-flex;

          input[type=checkbox] {
            margin-left: 8px;
            margin-top: -4px;
            height: 1em;
            width: 1em;
          }
        }
      }

      div.live-render {
        border: 2px solid $dark-bg;
      }

      .col-submit {
        display: flex;
        justify-content: flex-end;

        button.btn {
          border-radius: 0;
          padding: 0.5em 4em;
        }
      }

      .col-revisions {
        a {
          text-decoration: underline;
          font-size: 20px;
          font-family: "Comfortaa", cursive;
          color: #42949f;
        }
      }

      .col-editor {
        min-width: 45vw;
      }
    }

    .choices__input {
      background-color: $dark-bg;
    }

    .choices__inner {
      background-color: $dark-bg;
      border: none;
      border-radius: 8px;
    }

    .choices__item {
      color: #eee;
      background-color: $dark-bg;
      font-size: 18px;
    }

    .is-highlighted {
      background-color: $dark-bg !important;
    }
  }
}
