.admin-main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 100%;

  .admin-sidebar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;

    h1 {
      background-color: $darkless-bg;
      padding: 24px 48px;
    }

    ul.sidebar-list {
      background-color: $darkless-bg;
      margin-top: 8px;
      width: 100%;
      height: 100%;

      li.sidebar-item {
        color: #eee;
        text-align: center;
        font-size: 22px;
        font-family: "Comfortaa", cursive;
        line-height: 2.5em;

        &:hover {
          font-weight: bold;
        }
      }

      li.easy-admin {
        color: $title-color;
      }
    }
  }

  .admin-page {
    flex: 1;

    .topbar {
      background-color: $darkless-bg;
      margin-left: 8px;

      h1 {
        text-align: center;
        padding: 24px 48px;
      }
    }

    .content {
      color: #eee;

      .row {
        display: flex;
        justify-content: center;
        flex-direction: row;

        @media (max-width: 950px) {
          flex-direction: column;
        }

        .col {
          background-color: $darkless-bg;
          height: fit-content;
          flex: 1;
          margin-top: 8px;
          margin-left: 8px;

          @media (max-width: 950px) {
            margin-right: 8px;
          }

          &:last-of-type {
            margin-right: 8px;
          }
        }
      }

      p {
        font-size: 24px;
        font-family: "Comfortaa", cursive;
        padding: 1em 2em;

        &.text-center {
          text-align: center;
        }
      }

      a p { // <a> tag parent of <p> tag
        color: #42949f;
        text-decoration: underline;
      }

      h2 {
        font-size: 24px;
        font-family: "Comfortaa", cursive;
        padding: 1em 2em;
        text-align: center;
        text-decoration: underline;
      }

      ul.admin-post-list {
        margin: 8px;

        li.admin-post-item {
          margin-bottom: 8px;
          background-color: #eee;
          color: black;
          font-size: 18px;
          line-height: 1.5em;
          padding: 0.25em 0.5em;

          span.post-date {
            color: #777;
          }
        }
      }
    }
  }
}
