.list-posts {
  margin-left: 8px;
  margin-top: 8px;
  background-color: $darkless-bg;

  table {
    border-width: 1px 0 0 1px;
    border-color: #bbb;
    border-style: solid;
    color: #ddd;
    width: 100%;
  }

  th {
    padding: 10px;
  }

  td,
  th {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #bbb;
    padding: 0.9em;

    a {
      color: #42949f;
      text-decoration: underline;
    }
  }

  thead {
    background-color: #242c35;
  }
}
