.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-section {
    width: 580px;

    @media (max-width: 650px) {
      width: calc(100% - 50px);
    }

    background-color: $darkless-bg;
    box-shadow: 20px 20px 0 #191e24;

    h1 {
      text-align: center;
      margin-top: 32px;
      margin-bottom: 32px;
    }

    .form-group {
      margin: 32px;
      margin-top: 64px;

      form {
        input {
          margin-bottom: 12px;
        }
      }
    }
  }
}
