.col-list-medias {
  background-color: $darkless-bg;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
}

.media-item {
  background-color: $dark-bg;
  padding: 8px;
  width: fit-content;
  border-radius: 8px;
  margin-right: 16px;
  margin-bottom: 16px;

  img {
    height: auto;
    width: 220px;
  }

  .media-infos {
    max-width: 220px;
    padding: 8px;
    color: #ddd;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5em;
  }
}
