{% extends 'admin/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-section">
            <h1>LOGIN</h1>
            <div class="form-group">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
