{% extends "base.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <div class="container-404">
        <div class="section-404">
            <h1>404</h1>
            <p>La page demandée n'a pas été trouvée :(</p>
            <p><a href="/">Retourner à l'accueil</a></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}