{% extends "base.html.twig" %}

{% block title %}Archives{% endblock %}

{% block body %}
    <div class="archive-section">
        <div class="archive-title">
            <h1>Archives</h1>
        </div>
        <div class="archive-list">
            <div class="year-date">2020</div>
            <ul>
                {% for post in year2020 %}
                    <li><a href="{{ path('post.show', {slug: post.slug}) }}">
                        <h2>{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                    </a></li>
                {% endfor %}
            </ul>

            <div class="year-date">2019</div>
            <ul>
                {% for post in year2019 %}
                    <li><a href="{{ path('post.show', {slug: post.slug}) }}">
                        <h2>{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                    </a></li>
                {% endfor %}
            </ul>

            <div class="year-date">2018</div>
            <ul>
                {% for post in year2018 %}
                    <li><a href="{{ path('post.show', {slug: post.slug}) }}">
                        <h2>{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                    </a></li>
                {% endfor %}
            </ul>

            <div class="year-date">2017</div>
            <ul>
                {% for post in year2017 %}
                    <li><a href="{{ path('post.show', {slug: post.slug}) }}">
                        <h2>{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                    </a></li>
                {% endfor %}
            </ul>

            <div class="year-date">2016</div>
            <ul>
                {% for post in year2016 %}
                    <li><a href="{{ path('post.show', {slug: post.slug}) }}">
                        <h2>{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                    </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}