{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="contact-section">
        <div class="contact-title">
            <h1>ME CONTACTER</h1>
        </div>
        <div class="form-group">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-message flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
                <div class="inputs-row">
                    <label style="display:block;height:0;width:0;color:#2d3743;" for="contact_form_name">Prénom</label>
                    {{ form_widget(form.name) }}
                    <label style="display:block;height:0;width:0;color:#2d3743;" for="contact_form_email">Email</label>
                    {{ form_widget(form.email) }}
                </div>
                <label style="display:block;height:0;width:0;color:#2d3743;" for="contact_form_message">Message</label>
                {{ form_widget(form.message) }}
                <button type="submit" class="btn">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}