{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block title_suffix %} - kelou.fr - Informatique, Programmation et  Devlpt personnel{% endblock %}

{% block body %}
    <div class="introduction">
        <h2>Blog</h2>
        <p class="content">"Kelou" signifie "journal" en breton. Sur ce blog, suivez les pérégrinations d'un jeune développeur dans son apprentissage à travers des écrits sur ses projets et les moments importants de cette aventure.<br /><br /><span class="color-primary">Retrouvez chaque semaine de nouvelles astuces, conseils et projets inspirants pour devenir un meilleur développeur.</span></p>
    </div>

    <div class="flashes" id="posts">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <div class="main">
        <div class="sidebar">
            <div class="about-sidebar small-shadow">
                <div class="sidebar-title">À propos de moi</div>
                <div class="abstract">
                    <img class="lazyload" data-src="{{ asset('images/profile-pic.jpg') }}" alt="CASTEL Clément">
                    <div class="infos">
                        <h3>CASTEL Clément</h3>
                        <p>Fondateur, développeur et rédacteur de <b>kelou.fr</b></p>
                    </div>
                </div>
                <p class="about-text">Étudiant-ingénieur en développement logiciel spécialité sécurité. Fondateur du blog kelou.fr en 2016.<br />Passionné d'informatique, mathématiques, développement personnel et sport.</p>
            </div>
            <div class="newsletter-sidebar">
                <div class="sidebar-title">Newsletter</div>
                <p class="newsletter-text">Je ne publie pas tous les articles en public sur le blog. Je réserve les meilleurs aux abonnés de ma newsletter.<br /><br />Si vous souhaitez en faire partie, remplissez le formulaire ci-dessous.<br /><b>Je vous propose de vous envoyer la newsletter les quatres prochaines semaines. Ensuite, vous aurez le choix entre vous réinscrire pour devenir un membre permanent ou ne pas continuer.</b></p>
                <div class="form-group">
                    {{ form_start(newsletterForm) }}
                        <label style="height:0;width:0;color:#2d3743;" for="newsletter_register_form_name">Prénom</label>
                        {{ form_widget(newsletterForm.name) }}
                        <label style="height:0;width:0;color:#2d3743;" for="newsletter_register_form_email">Email</label>
                        {{ form_widget(newsletterForm.email) }}
                        <button type="submit" class="btn">Submit</button>
                    {{ form_end(newsletterForm) }}
                </div>
            </div>

            <div class="categories-sidebar small-shadow">
                <div class="sidebar-title">Catégories</div>
                <ul class="categories-list">
                    {% for category in categories %}
                        <li class="category-entry {% if category.label == 'MASTERCLASS'%}category-entry-primary{% endif %}"><a href="{{ path('category.index', {label: category.label}) }}">{{ category.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="latests">
            <div class="latests-title">Derniers articles {% if page != 1 %} (page {{ page }}) {% endif %}: </div>
            <div class="month-section">
                <div class="month-title"></div>

                {% for post in posts %}
                    <a href="{{ path('post.show', {slug: post.slug}) }}">
                        <div class="post small-shadow">
                            <div class="post-img">
                                <img class="lazyload" data-src="{% if post.thumbnail %}
                                    {{ vich_uploader_asset(post.thumbnail, 'mediaFile') | imagine_filter('post_thumbnail') }}
                                {% endif %}" alt="{{ post.title }}">
                            </div>
                            <div class="post-infos">
                                <h2 class="post-title">{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                                <p class="post-abstract">{{ post.intro }}</p>
                                <div class="post-read-more"><button class="btn btn-read-more">Lire la suite ...</button></div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                {{ knp_pagination_render(posts) }}
            </div>
        </div>
    </div>

{% endblock %}







{# additional stylesheet
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
#}

{# additional script
    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
#}