{% extends "base.html.twig" %}

{% block title %}Newsletter{% endblock %}

{% block body %}
    <div class="flashes">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-message flash-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {{ include('blocks/_newsletter.html.twig') }}
{% endblock %}