{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
<meta name="description" content="{{ post.intro }}">
{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ post.title}} - Kelou.fr" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://kelou.fr/post/{{ post.slug }}" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ vich_uploader_asset(post.thumbnail, 'mediaFile') }}" />
    <meta property="og:description" content="{{ post.intro }}" />
{% endblock %}

{% block body %}
    <div class="post-main">
        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-message flash-{{ label }}">
                        {{ message|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="post-title"><h1 class="post-title">{{ post.title }}<span class="post-date"> - {{ post.liveAt|format_date(locale='fr') }}</span></h1></div>

        <div class="post-content">
            <div class="md-output">
                {{ post.contentHtml|raw }}
            </div>
        </div>

        <div class="post-tags">
            <a href="{{ path('category.index', {label: post.category.label }) }}"><div class="post-tag post-category">#{{ post.category }}</div></a>
            {% for tag in post.tags %}
                <a href="{{ path('tag.index', {label: tag.label}) }}"><div class="post-tag">#{{ tag.label }}</div></a>
            {% endfor %}
        </div>

        <div class="post-comment">
            <button><a href="/contact?post={{ post.title }}">Poster un commentaire ?</a></button>
        </div>
    </div>
    {{ include('blocks/_newsletter.html.twig') }}


    {% block javascripts %}
        {{ encore_entry_script_tags('post') }}
    {% endblock %}
{% endblock %}
