{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <div class="tag-section">
        <h1>🔍 Recherche{% if formTitle %} : {{ formTitle }}{% endif %}</h1>

        <div class="section-search">
            <div class="form-group">
                {{ form_start(form) }}
                <label style="height:0;width:0;color:#2d3743;margin-bottom:-2px;" for="search_title">Titre</label>
                {{ form_widget(form.title) }}
                <button type="submit" class="btn">Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>

        <div class="section-list">
            {% for post in posts %}
                <a href="{{ path('post.show', {slug: post.slug}) }}">
                    <div class="post small-shadow">
                        <div class="post-img">
                            <img class="lazyload" data-src="{% if post.thumbnail %}
                                    {{ vich_uploader_asset(post.thumbnail, 'mediaFile') | imagine_filter('post_thumbnail') }}
                                {% endif %}" alt="{{ post.title }}">
                        </div>
                        <div class="post-infos">
                            <h2 class="post-title">{{ post.title }}<span class="post-date">- {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                            <p class="post-abstract">{{ post.intro }}</p>
                            <div class="post-read-more"><button class="btn btn-read-more">Lire la suite ...</button></div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}