<?xml version='1.0' encoding='UTF-8'?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>https://kelou.fr/</loc>
        <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.9</priority>
    </url>
    <url>
        <loc>https://kelou.fr/contact</loc>
        <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
    </url>
    <url>
        <loc>https://kelou.fr/archive</loc>
        <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
    </url>
    <url>
        <loc>https://kelou.fr/sitemap</loc>
        <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
    </url>
    <url>
        <loc>https://kelou.fr/newsletter</loc>
        <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
    </url>
    {% for post in posts %}
        <url>
            <loc>https://kelou.fr/post/{{ post.slug }}</loc>
            <lastmod>{{ post.updatedAt|date("Y-m-d") }}</lastmod>
        </url>
    {% endfor %}
    {% for category in categories %}
        <url>
            <loc>https://kelou.fr/category/{{ category.label }}</loc>
            <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
        </url>
    {% endfor %}
    {% for tag in tags %}
        <url>
            <loc>https://kelou.fr/tag/{{ tag.label }}</loc>
            <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
        </url>
    {% endfor %}
    {% for post in veille_posts %}
        <url>
            <loc>https://kelou.fr/veille/post/{{ post.slug }}</loc>
            <lastmod>{{ post.updatedAt|date("Y-m-d") }}</lastmod>
        </url>
    {% endfor %}
</urlset>