{% extends "base.html.twig" %}

{% block title %}Sitemap{% endblock %}

{% block body %}
    <div class="sitemap-section">
        <h2>PUBLICATIONS</h2>
        {% for post in posts %}
            <a href="{{ path('post.show', {slug: post.slug}) }}"><h3> {{ post.title }}</h3></a>
        {% endfor %}

        <h2>CATÉGORIES</h2>
        {% for category in categories %}
            <a href="{{ path('category.index', {label: category.label}) }}"><h3>{{ category.label }}</h3></a>
        {% endfor %}

        <h2>TAGS</h2>
        {% for tag in tags %}
            <a href="{{ path('tag.index', {label: tag.label}) }}"><h3>{{ tag.label }}</h3></a>
        {% endfor %}

        <h2>VEILLE</h2>
        {% for post in veille_posts %}
            <a href="{{ path('veille.show', {slug: post.slug}) }}"><h3>{{ post.title }}</h3></a>
        {% endfor %}
    </div>
{% endblock %}