{% extends "base.html.twig" %}

{% block title %}Tag : {{ tag.label }}{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ tag.label }} - Kelou.fr" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://kelou.fr/tag/{{ tag.label }}" />
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}{{ asset('images/favicons/apple-touch-icon.png') }}" />
    <meta property="og:description" content="{{ tag.description }}" />
{% endblock %}

{% block body %}
    <div class="tag-section">
        <h1>TAG : {{ tag.label }}</h1>

        <div class="section-list">
            {% for post in posts %}
                <a href="{{ path('post.show', {slug: post.slug}) }}">
                    <div class="post small-shadow">
                        <div class="post-img">
                            <img class="lazyload" data-src="{% if post.thumbnail %}
                                    {{ vich_uploader_asset(post.thumbnail, 'mediaFile') | imagine_filter('post_thumbnail') }}
                                {% endif %}" alt="{{ post.title }}">
                        </div>
                        <div class="post-infos">
                            <h2 class="post-title">{{ post.title }}<span class="post-date">- {{ post.liveAt|format_date(locale='fr') }}</span></h2>
                            <p class="post-abstract">{{ post.intro }}</p>
                            <div class="post-read-more"><button class="btn btn-read-more">Lire la suite ...</button></div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}