{% extends 'base.html.twig' %}

{% block title %}Veille{% endblock %}

{% block body %}
    <div class="tag-section">
        <h1>VEILLE</h1>

        <div class="section-list">
            {% for post in veille_posts %}
                <a href="{{ path('veille.show', {slug: post.slug}) }}">
                    <div class="post small-shadow">
                        <div class="post-infos">
                            <h2 class="post-title">{{ post.title }}<span class="post-date">- {{ post.createdAt|format_date(locale='fr') }}</span></h2>
                        </div>
                    </div>
                </a>
            {%  endfor %}
        </div>
    </div>
{% endblock %}
