{% extends "base.html.twig" %}


{% block stylesheets %}
    {{ encore_entry_link_tags('post') }}
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block open_graph %}
    <meta property="og:title" content="{{ post.title}} - Kelou.fr" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://kelou.fr/post/{{ post.slug }}" />
{% endblock %}

{% block body %}
    <div class="post-main">

        <div class="post-title"><h1 class="post-title">{{ post.title }}<span class="post-date"> - {{ post.createdAt|format_date(locale='fr') }}</span></h1></div>

        <div class="post-content veille-post-content">
            <div class="md-output">
                {{ post.contentHtml|raw }}
            </div>
        </div>

        <div></div>
    </div>


    {% block javascripts %}
        {{ encore_entry_script_tags('post') }}
    {% endblock %}
{% endblock %}
