<div class="admin-sidebar">
    <a href="{{ path('admin.dashboard') }}"><h1>kelou.fr</h1></a>
    <ul class="sidebar-list">
        <a href="{{ path('homepage') }}"><li class="sidebar-item">Site internet</li></a>
        <a href="{{ path('admin.createPost') }}"><li class="sidebar-item">Ajouter un article</li></a>
        <a href="{{ path('admin.listPosts') }}"><li class="sidebar-item">Liste des articles</li></a>
        <a href="{{ path('admin.createMedia') }}"><li class="sidebar-item">Ajouter un média</li></a>
        <a href="{{ path('admin.listMedia') }}"><li class="sidebar-item">Liste des médias</li></a>
        <a href="{{ path('admin.createVeillePost') }}"><li class="sidebar-item">Ajouter veille</li></a>
        <a href="{{ path('admin.listVeillePosts') }}"><li class="sidebar-item">Lister veille</li></a>
        <a href="{{ path('admin') }}"><li class="sidebar-item easy-admin">EASY_ADMIN</li></a>
    </ul>
</div>