<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon.png') }}">
    <link rel="icon" href="{{ asset('images/favicons/favicon.ico') }}">

    <title>{% block title %}{% endblock %} - kelou.fr</title>
    {{ encore_entry_link_tags('admin') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

<script src="{{ asset('assets/lazysizes.min.js') }}" async></script>
{{ encore_entry_script_tags('admin') }}
{% block javascripts %}{% endblock %}
</body>
</html>