{% extends 'admin/base.html.twig' %}

{% block title %}
    {% if edit %}
        Édition Veille : {{ title }}
    {% else %}
        Ajouter un article de veille
    {% endif %}
{% endblock %}

{% block body %}
    <div class="create-post-section">
        <h1>{% if edit %}MODIFIER{% else %}AJOUTER{% endif%} UN ARTICLE DE VEILLE</h1>

        <div class="form-group">
            {{ form_start(form) }}
            <a href="{{ path('admin.dashboard') }}" style="color: #42949f; text-decoration: underline;">Dashboard</a>
            <div class="row"></div>
            <div class="row">
                <div class="col col-title">
                    <label for="title">Titre</label>
                    {{ form_widget(form.title) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="slug">Slug</label>
                    {{ form_widget(form.slug) }}
                </div>
            </div>

            <div class="row">
                <div class="col col-islive">
                    <label for="">Publié ? {{ form_widget(form.is_live) }}</label>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="p-info">Création : {% if edit %}{{ createdAt|date_modify('+2 hours')|format_datetime(locale='fr') }}{% endif %}</p>
                </div>
                <div class="col">
                    <p class="p-info">Dernière MàJ : {% if edit %}{{ updatedAt|date_modify('+2 hours')|format_datetime(locale='fr') }}{% endif %}</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-editor">
                    <div class="editor">
                        <label for="content">Contenu (.md)</label>
                        {{ form_widget(form.content, {'id': 'editor-content'}) }}
                    </div>
                </div>
                <div class="col col-live">
                    <label for="">Rendu live <input type="checkbox" name="live_render" id="editor-live" checked></label>
                    <div class="live-render md-output" id="render-div">
                        {% if edit %}
                            {{ contentHtml|raw }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-submit">
                    <button class="btn" type="submit">ENREGISTRER</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}