{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter un média{% endblock %}

{% block body %}
    <div class="create-post-section">
        <h1>AJOUTER UN MEDIA</h1>
        <div class="form-group">
            {{ form_start(media_form) }}
                <p><a href="{{ path('admin.dashboard') }}" style="color: #42949f; text-decoration: underline;">Dashboard</a>
                | <a href="{{ path('admin.listMedia') }}" style="color: #42949f; text-decoration: underline;">Liste des médias</a></p>
                <div class="row">
                    <div class="col">
                        {{ form_row(media_form.seo_alt) }}
                    </div>
                    <style>
                        #media_mediaFile_file {
                            background-color: inherit;
                        }
                    </style>
                    <div class="col">
                        {{ form_row(media_form.mediaFile) }}
                    </div>
                    <div class="col col-submit">
                        <button style="margin: 1em auto 0 auto;" class="btn" type="submit">AJOUTER</button>
                    </div>
                </div>
            {{ form_end(media_form) }}
        </div>
    </div>
{% endblock %}