{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="admin-main">
        {{ include('admin/_sidebar.html.twig') }}
        <div class="admin-page">
            <div class="topbar">
                <h1>DASHBOARD</h1>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col col-publications">
                        <p class="text-center">Publications : {{ postsCount }}</p>
                    </div>
                    <div class="col col-ga">
                        <a href="#"><p class="text-center">Open Google Analytics</p></a>
                    </div>
                    <div class="col col-views">
                        <p class="text-center">{{ viewsCount }} pages vues</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-scheduled">
                        <h2>Articles planifiés</h2>
                        <ul class="admin-post-list">
                            {% for post in postsScheduled %}
                                <a href="{{ path('post.show', {slug: post.slug}) }}"><li class="admin-post-item">{{ post.title}} <span class="post-date">- {{ post.liveAt|date_modify('+2 hours')|format_datetime(locale='fr') }}</span></li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col col-modified">
                        <h2>Derniers articles modifiés</h2>
                        <ul class="admin-post-list">
                            {% for post in postsLastModified %}
                                <a href="{{ path('post.show', {slug: post.slug}) }}"><li class="admin-post-item">{{ post.title}} <span class="post-date">- {{ post.updatedAt|date_modify('+2 hours')|format_datetime(locale='fr') }}</span></li></a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col">
                        <p class="text-center">{{ nlReaders }} lecteurs de la Newsletter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}