{% extends 'admin/base.html.twig' %}

{% block title %}Révisions {% endblock %}

{% block body %}
    <div class="admin-main">
        {{ include('admin/_sidebar.html.twig') }}
        <div class="admin-page">
            <div class="topbar">
                <h1>RÉVISIONS</h1>
            </div>
            <div class="list-posts" style="width: max-content;">
                <table>
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Slug</th>
                        <th>Catégorie</th>

                        <th>liveAt</th>
                        <th>Miniature</th>
                        <th>Intro</th>

                        <th>createdAt</th>
                        <th>updatedAt</th>
                        <th>Contenu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for rev in revisions %}
                        <tr>
                            <td {% if loop.index < loop.length %}{% if rev.title != revisions[loop.index].title %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.title }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.slug != revisions[loop.index].slug %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.slug }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.category != revisions[loop.index].category %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.category }}</td>



                            <td {% if loop.index < loop.length %}{% if rev.liveAt != revisions[loop.index].liveAt %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.liveAt|date_modify('+2 hours')|format_datetime(locale='fr') }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.thumbnail != revisions[loop.index].thumbnail %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.thumbnail }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.intro != revisions[loop.index].intro %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.intro }}</td>


                            <td>{{ rev.createdAt|date_modify('+2 hours')|format_datetime(locale='fr') }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.updatedAt != revisions[loop.index].updatedAt %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.updatedAt|date_modify('+2 hours')|format_datetime(locale='fr') }}</td>

                            <td {% if loop.index < loop.length %}{% if rev.content != revisions[loop.index].content %} style="background-color: #2f8a00;" {% endif %}{% endif %}>{{ rev.content }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}