{% extends 'admin/base.html.twig' %}

{% block title %}Publications{% endblock %}

{% block body %}
    <div class="admin-main">
        {{ include('admin/_sidebar.html.twig') }}
        <div class="admin-page">
            <div class="topbar">
                <h1>VEILLE</h1>
            </div>
            <div class="list-posts">
                <table>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titre</th>
                        <th>Slug</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td><a href="{{ path('admin.editVeillePost', {id: post.id}) }}">{{ post.id }} </a></td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.slug }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}