{% extends 'admin/base.html.twig' %}

{% import 'macros/_twigFilter.html.twig' as macros %}

{% block title %}Liste des médias{% endblock %}

{% block body %}
    <div class="admin-main">
        {{ include('admin/_sidebar.html.twig') }}
        <div class="admin-page">
            <div class="topbar">
                <h1>MEDIAS</h1>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col col-list-medias">
                        {% for media in medias %}
                            <div class="media-item">
                                <img class="lazyload" data-src="{{ vich_uploader_asset(media, 'mediaFile') }}" alt="{{ media.seoAlt }}">
                                <div class="media-infos">
                                    {{ media.mediaName|split('.')[0] }}<br>
                                    {{ media.seoAlt }}<br>
                                    {{ macros.bytesToSize(media.mediaSize) }}<br>
                                    {{ media.uploadedAt|format_datetime(locale='fr') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const medias = document.getElementsByClassName('media-item')
        console.log(medias)

        for (let i = 0; i < medias.length; i++) {
        medias[i].addEventListener('click', () => {
          var fullDomainUrl = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')
          let url = fullDomainUrl + encodeURI(medias[i].getElementsByTagName('img')[0].getAttribute('data-src'))
          alert(url)
        })
        }
    </script>
{% endblock %}